@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: hsl(210, 46%, 95%);
  padding: 40px;
}

/* GRID */
.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile h4 {
  font-size: 14px;
}

.profile span {
  font-size: 12px;
  opacity: 0.5;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card p {
  font-size: 13px;
  opacity: 0.7;
  line-height: 1.6;
}

/* COLORS */
.card--daniel {
  background: hsl(263, 55%, 52%);
  color: white;
  grid-column: span 2;
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 80px;
}

.card--jonathan {
  background: hsl(217, 19%, 35%);
  color: white;
}

.card--jeanette {
  background: white;
  color: hsl(217, 19%, 35%);
}

.card--patrick {
  background: hsl(219, 29%, 14%);
  color: white;
  grid-column: span 2;
}

.card--kira {
  background: white;
  color: hsl(217, 19%, 35%);
  grid-row: span 2;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}
